<?xml version="1.0" encoding="utf-8"?>
<DataType Key="450133fc-56f6-4e6f-9982-516a76fffa01" Alias="Movie genre picker" Level="1">
  <Info>
    <Name>Movie genre picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "TwentyFourDays.Contentment.GenreDataSource, TwentyFourDays",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "list",
        "defaultIcon": "icon-movie-alt color-black",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>